* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dots-icon{
  display: none;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* starate my coding from here */
/*---Button---*/


.badge-on-img {
    position: absolute;
    top: 15%;           
    right: 5%;          
    background-color: #1DB954; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;         
}
.btn {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;  
  background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
  border: none;
  display: inline-block; 
  cursor: pointer;
  
}

.btn-container {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;  
  background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
  border: none;
  display: inline-block; 
  cursor: pointer;
  
}
/* --Navbar---*/
.menu-img-label {
  display: none;
}

 header {
  background-color: rgba(26, 11, 46, 1);
  padding-top: 1rem;
 }
 
nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin: 0 200px;                
  max-width: 1200px; 
  padding: .8rem;             
}
  #logo h1{
    color:rgba(255, 255, 255, 1);
    font-size: 2rem;
    
  }
  .color-new{
  background: linear-gradient(20deg, #9100F8, #FB09B4, #F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  nav .menu{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    align-items: center;
   
  }
  nav .menu li a {
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-weight: 500;
  }
  nav .menu a {
    font-size: 1rem;
  }

  @media (max-width: 576px) {
  nav {
    padding: 10px 20px;
    position: relative; 
  }
  #logo {
    flex: 1;
  }
  nav .btn {
    display: none; 
  }

  .menu-img-label {
    display: block; 
    cursor: pointer;
  }

  .menu-toggle {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: #1A0B2E; 
    padding: 20px 0;
    z-index: 100;
  }

 
}
/*-- Navbar Done --*/

/*--- Hero Section Styling ---*/

#hero {
  background-image: linear-gradient(rgba(26, 11, 46, 0.8), rgba(26, 11, 46, 0.8)), url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom:1rem;
  font-weight:bold;
 
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
 color: rgb(200, 203, 203);
}


.btn-outline {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: transparent;
  border: 2px solid #219b39;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
}
.mic-circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bg-circle {
  width: 100%;
  height: auto;
}

.bg-mic {
  position: absolute; 
  top: 50%;           
  left: 50%;          
  width: 80px;
  z-index: 2;
  animation: pulse-animation 1s infinite ease-in-out;
}

@keyframes pulse-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/*--- Hero Section Styling Done ---*/

/*---About Section Styling---*/
#about {
  background-color: rgba(26, 11, 46, 1);
  padding-top: 1rem;
}
.about-content {
  
  justify-content: space-between; 
  align-items: center;            
  margin: 0 auto;            
  max-width: 1200px; 
  padding: .8rem; 
  flex-direction: column;
}
.about-content h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: .5rem;
  margin-top: 20px;
  font-weight: bold;
}
.about-heding p {
   color:rgb(200, 203, 203);
  font-size: 16px;
  margin-bottom: 2;
  margin-top: 10px;
}
.about-control {
  display: flex;
  justify-content: space-between;
}
.about-heding {
  text-align: center;
  margin: 0 0 40px;
}
.about-control{
  margin: 80px 0 ;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  
}
.about-control h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
}
.about-control p{
  color:rgb(200, 203, 203);
  font-size: 16px;
  margin-bottom: 2;
  margin: 0;
  line-height: 1.6;
}
 .about-system {
  flex: 1;
  text-align: center;
}




          /*--- About Section Styling Done ---*/


 /* Container Styling */
#skills {
  background-color: #120b2e;
  padding:50px 10%;
  color: white;
  font-family: 'Inter', sans-serif;
  
  
}
.skill-card {
  background-color: #230E3D;
  padding: 30px;
  border-radius:30px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
.skill-card img {
  width: 35px;
  height: 35px;
  margin-bottom: 25px;
}
.skill-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.skill-card p {
  font-size: 11px;
  color: #b0a9c0;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: ;
  gap:30px; 
  

}

.card-tall {
  grid-row: span 2; 
}
.call-me{
  grid-column: span 2;
}
.section-heading{
  text-align: center;
  margin-bottom:40px;
  font-size: 1rem;
}


/*--Container Done */
#ideo-sectionv{
  background-color: #1A0B2E;
  color: white;
  text-align: center;
  padding: 50px;
}
.video-containar{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;

}

 .video-box iframe{ 
  border-radius: 10px;

 }
 .video-card{
 flex: 1;
 max-width: 300px;
 text-align: left;
 background-color: #250D44;
 height: 370px;
 border-radius: 30px;


 }
.text-box{
  padding: 15px;
}
 .video-card iframe{
  width: 100%;
  height: 175px;
 }
 .time {
  color: #4ade80;        
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;

}
.text-box p {
  color: #b3b3b3;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
 .text-box h3{
  font-size: 1.5rem;

 }
 .imges-titel {
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: bold;
 }
 .imge-box{
 display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
text-align: left;
max-width: 996px;
margin: 50px auto ;
background-color: #250D44 ;
border-radius: 25px;
padding: 25px;
 }
 .my-about h3 {
  font-size: 1.6rem;
  margin-top: 25px;
  margin-bottom: 21px;
  color: white;
  font-weight: bold;
 }
 .my-about p {
   font-size: 15px;
  color: #b0a9c0;
  
 }
 .my-logo-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
 }
.my-logo-container, .my-logo{
  gap: 15px;
  cursor: pointer;
  
}
.my-logo {
  width: auto;
  height: auto;
    border-radius: 50%;
  box-shadow: 
    inset 0 0 0 5px #250D44 ,
    0 0 10px rgba(255,255,255,0.6);
    padding: 10px;
}
#footer{

  background-image: url('../img/footer-bg.png');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 350px; 
}
.footer-container h1 {
  padding-top: 80px;
  font-size: 4rem;
  color: white;
  font-weight: bold;
 text-align: center;
}
.footer-logo-header{
  display: flex;
  flex-wrap: wrap;
gap: 50px;
 list-style: none;
 padding-left: 550px;
}


 .footer-logo-header span {
  color: azure;
   cursor: pointer;
   font-size: 20px;

 }
 .footer-logo{
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  
 }
 .footer-bottom{
  
  align-items: center;
  margin-top: 32px;
  color: aliceblue;
  font-size: 15px;
  text-align: center;
 }
          
 @media  (max-width: 576px) {
  nav {
   justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
    margin: 0 !important;
  }

  .dots-icon {
    display: block !important;
  }

  .menu, .btn-container, .nav-btn-container, nav ul  {
    display: none !important;
    position: absolute;
    visibility: hidden;
  }

  .mic-circle {
    width: 250px; 
    height: 250px;
  }

  .hero-content h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero-content p {
    font-size: 0.9rem;
    width:300px;
  }

  .hero-btns{
    display: flex;
    gap: 5px;
  }
  .btn, .btn-outline {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
#about{
  padding-top: 10px;
}
 .about-control{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  gap: 20px;
  margin-top: 10px;
 } 
.skills-grid {
  display: grid;
  grid-template-columns: repeat( 1, 1fr) ;
}
.skill-card {
  background-color: #2b0756;
  padding: 30px;
  border-radius:10px;
   width: 300px;
   height: auto;
  align-items: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-items: center;
}
.section-heading {
  font-size:14px;
  text-align: center;
  display: flex;
}
  
.video-containar{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom:10px ;
}
  .imge-box{
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 15px;
    padding: 20px;
    gap: 15px;
    background-color: #250D44;
    border-radius: 25px;
  
 }
 .my-logo-container{
 justify-content: center;
 }
 
#footer {
    background-image: url('../img/footer-bg.png') !important;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
  }
  .footer-logo-header {
    padding-left: 20px;

  }
}