* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* starate my coding from here */
/*---Button---*/



.btn {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;  
  background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
  border: none;
  display: inline-block; 
  cursor: pointer;
  
}


/* --Navbar---*/

 header {
  background-color: rgba(26, 11, 46, 1);
  padding-top: 1rem;
 }
nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin: 0 200px;                
  max-width: 1200px; 
  padding: .8rem;             
}
  .logo h1{
    color:rgba(255, 255, 255, 1);
    font-size: 2rem;
    
  }
  .color-new{
  background: linear-gradient(20deg, #9100F8, #FB09B4, #F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  nav .menu{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    align-items: center;
   
  }
  nav .menu li a {
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-weight: 500;
  }
  nav .menu a {
    font-size: 1rem;
  }

/*-- Navbar Done --*/

/*--- Hero Section Styling ---*/

.hero {
  background-image: linear-gradient(rgba(26, 11, 46, 0.8), rgba(26, 11, 46, 0.8)), url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom:1rem;
  font-weight:bold;
 
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
 color: rgb(200, 203, 203);
}


.btn-outline {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: transparent;
  border: 2px solid #219b39;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
}

.mic-circle {
  position: relative;
  width:350px ;
  height: 350px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bg-circle {
  width: 100%;        
  height: auto;
  display: block;
}
.bg-mic {
  position: absolute; 
  top: 50%;            
  left: 50%;           
  transform: translate(-50%, -50%); 
  width:150px;                  
}